@import "tailwindcss";

:root {
  --background: #fdfdfb;
  --foreground: #171717;
  --font-manrope: "Manrope", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

@layer components{
  .container{
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .flex-center{
    @apply flex items-center justify-center;  
  }

  .main-gradient{ 
    @apply bg-gradient-to-br from-orange-500 to-orange-600;
  }

  .main-text-hover{
    @apply hover:text-orange-500 transition-colors  
  }

  .main-animate{
    @apply hover:scale-105 transition-transform duration-300 cursor-pointer
  }

  .border-gradient {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, oklch(70.5% 0.213 47.604), #ee0979);
    border-image-slice: 1;
  }

}